button {
    display: block;
    margin-top: 10px;https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTERx7CfI9SRDqNiSqgUekK84fK1sbrDtfr1be19N6PKiKxavbS
    border-radius: 4px;https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTERx7CfI9SRDqNiSqgUekK84fK1sbrDtfr1be19N6PKiKxavbS
    width: 250px;
    height: 40px;

}

div.rightbuttons {
    float: right;
    margin-top: 13px;
}

div.leftbuttons {
    float: left;
}

div.container {
    width: 40%;
    margin-left: 550px;
    margin-top: 300px;
}

button.singin {
    width: 100px;
    margin-left: 160px;
    height: 20px;
}

label {

    padding-right: 20px;
}

div.password input {
    margin-left: 38px;

}

div.password {
    margin-top: 5px;
}

div.mainbutton {


    float: right;

}

button.mainbutton {
    width: 100px;
    height: 20px;
    position: absolute;
    top: 20%;
}
